<link rel="stylesheet" href="/css/components/burger-menu.min.css">
<script defer src="/js/burger-menu.min.js"></script>
<div class="burger-menu" data-burger-menu>
  <div class="burger-menu__overlay" data-menu-overlay></div>
  <div class="burger-menu__container">

    <nav class="burger-menu__nav nav">
      <ul class="nav__list list">
        <li class="list__item list__item_active"><a href="#hero" data-menu-item>Главная</a></li>
        <!-- <li class="list__item"><a href="#about" style="display: none;">О нас</a></li> -->
        <li class="list__item"><a href="#price" data-menu-item>Цены</a></li>
        <!-- <li class="list__item"><a href="#portfolio" style="display: none;">Портфолио</a></li> -->
        <li class="list__item"><a href="#contact" data-menu-item>Контакты</a></li>
      </ul>
    </nav>
  </div>
</div>
