
<link rel="stylesheet" href="/css/components/hero.min.css">
<section class="hero" id="hero">
  <video class="hero__video" autoplay loop muted>
    <source src="video/hero-video.ogv" type="video/ogg">
    <source src="video/hero-video.webm" type="video/webm">
    <source src="video/hero-video.mp4" type="video/mp4">
  </video>
  <div class="hero__container container">
    <h1>Заголовок h1, в пару строк</h1>
    <p>Просто короткий текст в одну строку, как в оригинале</p>
    <a class="hero__link primary-button" href="#price">Начать!</a>
  </div>
</section>
